# Ignore data contents but keep folder structure
data/**
!data/.gitkeep

# Ignore outputs but keep folder
outputs/**
!outputs/.gitkeep

# TFDS
_tfds_logging/

# Python
venv/
__pycache__/
*.pyc
.env

# Dataset archives
Rice Leaf Disease Images.7z
cassava-disease.zip
