# Ignore data contents but keep folder structure
plant_disease_cnn_replication/data/**
!plant_disease_cnn_replication/data/.gitkeep

# Ignore outputs but keep folder
plant_disease_cnn_replication/outputs/**
!plant_disease_cnn_replication/outputs/.gitkeep
!plant_disease_cnn_replication/outputs/explain/
!plant_disease_cnn_replication/outputs/explain/gradcam/
!plant_disease_cnn_replication/outputs/explain/gradcam/.gitkeep
!plant_disease_cnn_replication/outputs/explain/lime/
!plant_disease_cnn_replication/outputs/explain/lime/.gitkeep
!plant_disease_cnn_replication/outputs/explain/shap/
!plant_disease_cnn_replication/outputs/explain/shap/.gitkeep

plant_disease_cnn_replication/backup_outputs/**

# TFDS
_tfds_logging/

# Python
venv/
__pycache__/
*.pyc
.env

# VSCODE
.vscode

# Dataset archives
Rice Leaf Disease Images.7z
cassava-disease.zip

# Cache
plant_disease_cnn_replication/cache/**
!plant_disease_cnn_replication/cache/.gitkeep
