# Ignore data contents but keep folder structure
plant_disease_cnn_replication/data/**
!plant_disease_cnn_replication/data/.gitkeep

# Ignore outputs but keep folder
plant_disease_cnn_replication/outputs/**
!plant_disease_cnn_replication/outputs/.gitkeep
!plant_disease_cnn_replication/outputs/explain/.gitkeep

# TFDS
_tfds_logging/

# Python
venv/
__pycache__/
*.pyc
.env

# VSCODE
.vscode

# Dataset archives
Rice Leaf Disease Images.7z
cassava-disease.zip
